In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_csv('titanic.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# 1. Categorical Data

## a. Countplot

In [4]:
sns.countplot(df['Embarked'])
#df['Survived'].value_counts().plot(kind='bar')

ValueError: could not convert string to float: 'S'

## b. PieChart

In [ ]:
df['Sex'].value_counts().plot(kind='pie',autopct='%.2f')

<div style="border-top:black 2px solid"></div>

# 2. Numerical Data

## a. Histogram

In [ ]:
import matplotlib.pyplot as plt
plt.hist(df['Age'],bins=5)

## b. Distplot

In [ ]:
sns.distplot(df['Age'])

## c. Boxplot

In [ ]:
sns.boxplot(df['Age'])

In [ ]:
df['Age'].min()

In [ ]:
df['Age'].max()

In [ ]:
df['Age'].mean()

In [ ]:
df['Age'].skew()